.education .jobs {
    margin-bottom: 100px;
}
.education .job {
    margin-bottom: 25px;
}
.education .job .time-place {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 480px) {
    .education .job .time-place {
        display: block;
   }
}
.education .job__company {
    font-weight: 700;
}
.education .job__time {
    font-size: 0.9rem;
    font-family: 'Inconsolata', monospace;
}
@media screen and (max-width: 480px) {
    .education .job__time {
        font-size: 0.8rem;
   }
}
.education .arrow-link {
    font-size: 1.25rem;
}
.education .arrow-link:after {
    width: 20px;
    height: 20px;
}
